<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">

    <testsuites>
        <testsuite name="Health Check Bundle Test Suite">
            <directory>./tests/*</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
        <ini name="log_errors" value="On" />
        <ini name="log_errors_max_len" value="0" />
        <ini name="ignore_repeated_errors" value="0" />
        <ini name="ignore_repeated_source" value="0" />
        <ini name="report_memleaks" value="1" />
        <ini name="track_errors" value="1" />
        <ini name="html_errors" value="0" />
        <ini name="xmlrpc_errors" value="0" />
        <ini name="xmlrpc_error_number" value="0" />
        <ini name="docref_root" value=".php" />
        <ini name="error_prepend_string" value="" />
        <ini name="error_append_string" value="" />
        <ini name="memory_limit" value="1024M" />
        <ini name="short_open_tag" value="0" />
    </php>

</phpunit>